  <ol>
      <a href="#section-1"><li>Section one</li></a>
      <a href="#section-2"><li>Section two</li></a>
      <a href="#section-3"><li>Section three</li></a>
  </ol>
  <section id="section-1" class="section-1">
      <h1>Welcome to Pizza</h1>
      <h2>We are Proud to have the best Pizza in the LA with honoring authentic Italian Tradition. In our Pizzaria, <bold>Customer always comes first. We are honor to sereve varity of people everyday and make their days by eating the best pizza in the LA. </bold> </h2>
  </section>
  <section id="section-2" class="section-2"></section>
  <section id="section-3" class="section-3"></section>
